body {
  background: var(--bs-gray-300);
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  opacity: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav-item a:hover {
  background: var(--bs-secondary);
}

.fa-stack a:hover .fa-circle {
  color: var(--bs-primary) !important;
  /* Change the circle background color */
  transition: color 0.3s ease-in-out;
}

.fa-stack a:hover .fa-brands {
  color: var(--bs-secondary) !important;
  /* Change the icon color */
  transition: color 0.3s ease-in-out;
}

.hr-heading {
  display: inline-block;
  width: 250px;
  height: 0.125rem;
  margin-top: 0.125rem;
  border: none;
  background-color: var(--bs-secondary);
  opacity: 1;
}

.to-top-btn {
  position: fixed;
  z-index: 20;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  background-color: var(--bs-primary);
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.to-top-btn:hover {
  background-color: var(--bs-secondary);
}

.show {
  opacity: 1;
}

/* Small Screens Only */
@media (max-width: 575.98px) {
  .hr-heading {
    width: 100%;
  }
}

@media (max-width: 767.98) {
  .navbar {
    opacity: 1;
  }
}