body {
  background: var(--bs-gray);
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  opacity: 0.8;
}


img {
  width: 80px;
  height: 80px;
  /* Increase size */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  /* Add depth */
}

.hr-heading {
  display: inline-block;
  width: 250px;
  height: 0.125rem;
  margin-top: 0.125rem;
  border: none;
  background-color: var(--bs-primary);
  opacity: 1;
}


@media (max-width: 991.98px) {
  .navbar {
    background: var(--bs-dark);
  }
}

/* Small Screens Only */
@media (max-width: 575.98px) {
  .hr-heading {
    width: 100%;
  }
}