{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta author="Alexander Shelton" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    
    {% block title %} {% endblock %}
  </head>
  <body>    

    <!-- Navbar -->
    {% include 'partials/_navbar.html' %}
    
    <!-- Main Content -->
    {% block content %} {% endblock %}
    
    <!-- Footer -->
    {% include 'partials/_footer.html' %}
    
    <button id="to-top" class="to-top-btn">
      <i class="fa fa-chevron-up fa-2x"></i>
    </button>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>